@import url('https://fonts.googleapis.com/css?family=Quicksand&subset=latin-ext');

/* ===== MAIN STYLES ===== */

body {
  font-family: "Quicksand";
  font-size: 16px;
  color: #24292E;
  margin: 0;
}

h2 {
  font-size: calc( 1.625rem + (32 - 26) * (100vw - 300px) / (1366 - 300));
}
h3 {
  font-size: calc( 1.375rem + (28 - 22) * (100vw - 300px) / (1366 - 300));
}
p {
  font-size: calc( 1.2rem + (19.2 - 16) * (100vw - 300px) / (1366 - 300));
  line-height: 1.375rem;
}

.welcome-section {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: #24292E;
  color: #bbb;
}
  .welcome-section h1 {
    font-size: calc( 2rem + (40 - 32) * (100vw - 300px) / (1366 - 300));
    margin: 0.5em;
    padding: 0.5em 1em;
    border: 2px solid #eee;
    border-radius: 0.5em;
    animation: fadeIn 3s ease-in-out 0s infinite;
  }

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  margin: 0.5em;
}

.content-box {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0 0.5em;
  font-size: 1.2em;
  text-align: center;
}

.box1 {
  background: linear-gradient(#B789E5, #89E5B7);
  color: #fff;
}

.box2 {
  background: linear-gradient(#89B7E5, #E589B7);
  color: #fff;
}

.box3 {
  background: linear-gradient(#E58989, #898AE5);
  color: #fff;
}

.trait-description {
  margin: 15% 0; 
}
.top-trait {
  margin-bottom: auto;
}
.bottom-trait {
  margin-top: auto;
}

.projects h2,
.about h2 {
  text-align: center;
}

.project-box {
  border: 1px solid #24292E;
  border-radius: 0.5em;
  color: #24292E;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  background-color: #24292E;
  color: #eee;
  border: 1px solid #24292E;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  margin: auto 0.25em 0.5em;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #fff;
  color: #24292E;
  transition: all 0.2s ease-in-out;
}

.contact {
  text-align: center;
}
.media-icon {
  width: 3em;
  height: 3em;
  padding: 0.1em;
  
}
.media-icon-fcc {
  background-color: #006400;
  fill: white;
  box-sizing: border-box;
  border-radius: 0.2em;
}
.write-me a {
  text-decoration: none;
  color: #24292E;
  border-bottom: 1px solid #24292E;
}

@media only screen and (min-width: 600px) {
  .content {
    grid-template-columns: repeat(auto-fit, 70%);
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .content {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    margin: 1em auto;
  }
}

/* ===== HEADER & NAVIGATION STYLES ===== */

header {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0.5em;
  background-color: #293033;
  color: #eee;
}

.header-logo {
/*  With auto margin we effectively place a logo in the far left  */
  font-weight: 100;
  margin: 0 auto 0 0.5em;
  align-self: center;
  text-shadow: 0.02em 0.02em 0.01em #406A80;
}

.toggle-btn {
/*  Since it is a <button> element, we need to give it a transparent background and remove borders to blend nicely into the navbar. Hidden by default  */
  background-color: transparent;
  margin: 0 1em;
  align-self: center;
  border: 0;
  height: 1.375em;
  font-size: 1.375em;
  cursor: pointer;
  display: none;
}

.toggle-btn:hover {
  color: #fff;
}

.header-nav {
  display: flex;
  align-items: center;
  margin: 0 1em;
}

.nav-item {
  padding: 0.5em 1em;
  font-size: calc( 1.2rem + (19.2 - 16) * (100vw - 300px) / (1366 - 300));
/*   font-size: 1.1em; */
  text-decoration: none;
  color: #eee;
  transition: transform 0.1s linear;
}

.nav-item:hover  {
  transform: scale(1.125);
  transition: transform 0.2s linear;
}

@media only screen and (max-width: 640px){
  .header-nav {
/*   We only need to change the main nav size with flex-grow and flex-basis to cover a full screen   */
    flex: 1 0 100%;
    display: none;
  }
  
  .toggle-btn {
    display: initial;
    color: #eee;
  }
  
  .responsive-nav {
/*   Displayed when button is clicked   */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
}

@keyframes fadeIn {
  0% {
    box-shadow: 0 0 0 0 #eee;
  }
  50% {
    box-shadow: 0 0 0.5em 0.1em #eee;
  }
  100% {
    box-shadow: 0 0 0 0 #eee;
  }
}
